<a href="https://colab.research.google.com/github/ELaNGO-02/AI-Training/blob/main/day1Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world");

Hello world

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
print(pd);

<module 'pandas' from '/usr/local/lib/python3.11/dist-packages/pandas/__init__.py'>

In [ ]:
data = pd.read_csv('students.csv')

In [ ]:
print(data)

      Name  Age  Gender  Marks        City  Attendance
0     Arun   20    Male     85     Chennai        90.0
1    Priya   21  Female     90  Coimbatore        95.0
2  Karthik   22    Male     76     Madurai         NaN
3    Divya   20  Female     88     Chennai        85.0
4    Rahul   23    Male     92      Trichy        88.0
5    Meena   22  Female     67  Coimbatore         NaN
6   Vikram   21    Male     73     Madurai        92.0
7    Anita   20  Female     95     Chennai        94.0
8   Suresh   24    Male     80      Trichy        89.0
9  Lakshmi   22  Female     89     Madurai         NaN

In [ ]:
print(data.head());

      Name  Age  Gender  Marks        City  Attendance
0     Arun   20    Male     85     Chennai        90.0
1    Priya   21  Female     90  Coimbatore        95.0
2  Karthik   22    Male     76     Madurai         NaN
3    Divya   20  Female     88     Chennai        85.0
4    Rahul   23    Male     92      Trichy        88.0

In [ ]:
data.dtypes

Name           object
Age             int64
Gender         object
Marks           int64
City           object
Attendance    float64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   Gender      10 non-null     object
 3   Marks       10 non-null     int64
 4   City        10 non-null     object
 5   Attendance  7 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes

In [ ]:
git

NameError: name 'git' is not defined

In [ ]:
!git init

hint: Using 'master' as the name for the initial branch. This default branch name
hint: is subject to change. To configure the initial branch name to use in all
hint: of your new repositories, which will suppress this warning, call:
hint:
hint: 	git config --global init.defaultBranch <name>
hint:
hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and
hint: 'development'. The just-created branch can be renamed via this command:
hint:
hint: 	git branch -m <name>
Initialized empty Git repository in /content/.git/

In [ ]:
!git add

Nothing specified, nothing added.
hint: Maybe you wanted to say 'git add .'?
hint: Turn this message off by running
hint: "git config advice.addEmptyPathspec false"

In [ ]:
!git add *

In [ ]:
!git commit -m "Day 1 - codes";

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@c10549d99d3f.(none)')

In [ ]:
!git config --global user.email "elango.thangarasan@gmail.com"

In [ ]:
!git config --global user.name "ELANGO"

In [ ]:
!git push

fatal: No configured push destination.
Either specify the URL from the command-line or configure a remote repository using

    git remote add <name> <url>

and then push using the remote name

    git push <name>

In [ ]:
!git add *

In [ ]:
!git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
	new file:   sample_data/README.md
	new file:   sample_data/anscombe.json
	new file:   sample_data/california_housing_test.csv
	new file:   sample_data/california_housing_train.csv
	new file:   sample_data/mnist_test.csv
	new file:   sample_data/mnist_train_small.csv
	new file:   students.csv

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.config/

In [ ]:
!git commit -m "Day 1 code"

[master (root-commit) ceece26] Day 1 code
 7 files changed, 50081 insertions(+)
 create mode 100755 sample_data/README.md
 create mode 100755 sample_data/anscombe.json
 create mode 100644 sample_data/california_housing_test.csv
 create mode 100644 sample_data/california_housing_train.csv
 create mode 100644 sample_data/mnist_test.csv
 create mode 100644 sample_data/mnist_train_small.csv
 create mode 100644 students.csv

In [ ]:
!git add *

In [ ]:
!git status

On branch master
Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.config/

nothing added to commit but untracked files present (use "git add" to track)

In [ ]:
!git remote add origin git@github.com:ELaNGO-02/AI-Training.git

In [ ]:
!git branch -M main

In [ ]:
!git push -u origin main

Host key verification failed.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.