<a href="https://colab.research.google.com/github/ELaNGO-02/AI-Training/blob/main/day1Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world");

Hello world

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
print(pd);

<module 'pandas' from '/usr/local/lib/python3.11/dist-packages/pandas/__init__.py'>

In [ ]:
data = pd.read_csv('students.csv')

In [ ]:
print(data)

      Name  Age  Gender  Marks        City  Attendance
0     Arun   20    Male     85     Chennai        90.0
1    Priya   21  Female     90  Coimbatore        95.0
2  Karthik   22    Male     76     Madurai         NaN
3    Divya   20  Female     88     Chennai        85.0
4    Rahul   23    Male     92      Trichy        88.0
5    Meena   22  Female     67  Coimbatore         NaN
6   Vikram   21    Male     73     Madurai        92.0
7    Anita   20  Female     95     Chennai        94.0
8   Suresh   24    Male     80      Trichy        89.0
9  Lakshmi   22  Female     89     Madurai         NaN

In [ ]:
print(data.head());

      Name  Age  Gender  Marks        City  Attendance
0     Arun   20    Male     85     Chennai        90.0
1    Priya   21  Female     90  Coimbatore        95.0
2  Karthik   22    Male     76     Madurai         NaN
3    Divya   20  Female     88     Chennai        85.0
4    Rahul   23    Male     92      Trichy        88.0

In [ ]:
data.dtypes

Name           object
Age             int64
Gender         object
Marks           int64
City           object
Attendance    float64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   Gender      10 non-null     object
 3   Marks       10 non-null     int64
 4   City        10 non-null     object
 5   Attendance  7 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes