<a href="https://colab.research.google.com/github/ELaNGO-02/AI-Training/blob/main/RefresherBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print statement as we know

In [2]:
print("hello world")

hello world

# VARIABLES

In [6]:
name = "elango"
age = 20
isDeveloper = True
height = 160.56
print(type(name))
print(type(age))
print(type(isDeveloper))
print(type(height))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

# USER INPUT

In [8]:
userInput = input("enter the name")
print(userInput)

enter the name Hari
 Hari

# Type Conversion
  tip the input will always return a string

In [1]:
age = int(input("Enter your age" ))
withoutTypeAge = input("Enter your age without type conversion")
print(type(age))
print(type(withoutTypeAge))

Enter your age20
Enter your age without type conversion20
<class 'int'>
<class 'str'>

# Control Flow (if, elif, else)

In [10]:
age = int(input("Enter your age "))
if age < 18 and age > 0:
   print("child")
elif age >= 18:
   print("Adult")
else:
   print("you must enter a wrong age or it is not a number")

Enter your age -1
you must enter a wrong age or it is not a number

# Loops

# for loop

In [13]:
for i in range(5):
   print(i);

0
1
2
3
4

In [15]:
for char in "PYTHON":
    print(char)

P
Y
T
H
O
N

In [20]:
#list is the array in python
list = [1,2,3]
for value in list:
   print(value)

1
2
3

# While Loop

In [2]:
count = 0
while count < 5:
   print(count)
   count +=1

0
1
2
3
4

# Loop Control Statement

In [5]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

In [7]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [9]:
for i in range(5):
  if i == 3:
    pass
  print(i)

0
1
2
3
4

In [10]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

# FUNCTION

In [12]:
def greet(name):
  print(f"hello {name}")
greet("Alice")

hello Alice

# List

In [15]:
list = ["god", 'parents', 'friends']
for index,value in enumerate(list):
  print(value)

god
parents
friends

# Dictinaries

In [18]:
person = { "name": "alice", "age":  35}
for per in person:
  print(person[per])

alice
35